.email {
    padding: 30px;
    &__navigation {
display: flex;
align-items: center;
gap: 8px;
@extend %title-10;
font-weight: 400;
color: #99A2BB;
margin-bottom: 26px;

& >:last-child {
    @extend %title-10;
    font-weight: 500;
    color: #03380D;
    border-radius: 4px;
background: var(--Neutral-100, #F5F5F5);
padding: 4px 8px;
}


}
&__title {
    @extend %title-30;
    font-weight: 500;
    color: #101828;
}
}