.case-from {
  width: 100%;
  border: 1px solid #008de7;
  border-radius: 10px;
  padding-bottom: 16px;
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 48px 103.5px;
    border-bottom: 1px solid #008de7;
    padding: 24px;

    &__input {
      position: relative;
      width: 100%;
      border-radius: 8px;
      & > label {
        color: #7e92a2;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 8px;
      }
      & > input,
      & > select,
      &__flex {
        @extend %case-input;
      }

      &__flex {
        display: flex;
        align-items: center;
        padding: 0 20px;

        & > input {
          width: 100%;
          height: 100%;
          border: none;
          outline: none;
          background: transparent;
        }

        &__search-dropdown {
          position: absolute;
          width: 100%;
          height: 150px;
          overflow-y: auto;
          background: #f6fafd;
          // color: #000;
          z-index: 1;
          display: flex;
          flex-direction: column;
          top: 78px;
          left: 0;
  
          & > div {
            min-height: 50px;
            width: 100%;
            padding: 0 14px;
            display: flex;
            align-items: center;
            cursor: pointer;
  
            &:hover {
              background: #e5eff7;
              color: #000;
            }
          }
        }
      }

      &__filled {
        @extend %title-16;
        font-weight: 600;
        color: #526477;
      }
      
      &__contact {
        @extend %title-16;
color: #0072BB;
display: flex;
align-items: center;
gap: 10px;
text-decoration: underline;
      }

      &__search-dropdown {
        position: absolute;
        width: 100%;
        height: 150px;
        overflow-y: auto;
        background: #f6fafd;
        // color: #000;
        z-index: 1;
        display: flex;
        flex-direction: column;

        & > div {
          min-height: 50px;
          width: 100%;
          padding: 0 14px;
          display: flex;
          align-items: center;
          cursor: pointer;

          &:hover {
            background: #e5eff7;
            color: #000;
          }
        }
      }
    }
  }

  &__accused {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3.65fr 1.8fr;
    gap: 24px;
    padding: 24px;

    &__bio {
      width: 100%;
      &__title {
        @extend %title-24;
        font-weight: 500;
        color: #526477;
        margin-bottom: 16px;
        text-transform: uppercase;
      }

      &__img {
        margin-bottom: 8px;
      }

      &__img-label {
        @extend %title-12;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #696969;
        gap: 8px;
        margin-bottom: 16px;
      }

      &__input {
        margin-bottom: 16px;
        & > label {
          color: #7e92a2;
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 8px;
        }

        & > input,
        & > select {
          @extend %case-input;
        }

        &__filled {
          @extend %title-20;
          font-weight: 600;
          color: #030D32;
          display: flex;
          align-items: center;
          gap: 8px;
        }

        &__case-status{
          width: 100%;
          max-width: 135px;
          height: 31px;
          background: #42BE65;
          border-radius: 40px;
          border: none;
          outline: none;
          color: #FFF;
          font-size: 16px;
          font-weight: 500;
        }
        &__case-remanded {
          width: 100%;
max-width: 154px;
height: 34px;
outline: none;
border-radius: 40px;
border: 1px solid #054ADA;
background: #FFF;
font-size: 15px;
font-weight: 500;
color: #000;
        }

        &__case-date {
          width: 100%;
          max-width: 121px;
          height: 46px;
          border: 1px solid #054ADA;
          border-radius: 40px;
          font-size: 16px;
          font-weight: 400;
          outline: none;
          color: #092C4C;
        }
        &__case-assoc {
          @extend %title-20;
          font-weight: 600;
          text-decoration: underline;
          display: flex;
          gap: 5px;
          flex-wrap: wrap;
          color: #0072BB;

        }

      }

      &__assoc {
        
      & > div {
        display: flex;
        gap: 10px;

        & > input {
          @extend %case-input;

        }

        & > button {
          @extend %create-button;
          width: 80px;
          min-height: 100%;
          border-radius: 8px;
        }
      }

        &__list {
          width: 100%;
          max-width: 200px;
          display: flex;
          gap: 5px;
          flex-wrap: wrap;
          margin-top: 8px;

          & > div {
            width: fit-content;
            height: 29px;
            padding: 0 16px;
            border: 1px solid rgba(46, 46, 46, 1);
            font-family: Inter;
font-size: 14px;
font-weight: 400;
color: rgba(9, 44, 76, 1);
border-radius: 40px;
white-space: nowrap;
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;

          }
        }
      }
    }

    &__details {
      height: fit-content;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;

      &__input {
        position: relative;
        height: fit-content;
        & > label {
          color: #526477;
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 8px;
          text-transform: uppercase;
        }

        & > textarea {
          width: 100%;
          height: 300px;
          border: 1px solid rgba(0, 141, 231, 1);
          border-radius: 20px;
          padding: 30px 20px 0 20px;

          &::placeholder {
            font-style: italic;
            color: #b7b7b7;
          }
        }

        &__read {
          @extend %title-16;
          font-weight: 400;
          position: absolute;
          right: 24px;
          bottom: 20.5px;
          color: #0072BB;
          cursor: pointer;
        }
      }
    }

    &__attachment {
      &__title {
        @extend %title-16;
        color: #092c4c;
        font-weight: 400;
        margin-bottom: 20px;
      }

       

      &__doc {
        color: #092c4c;

        @extend %title-16;
        font-weight: 400;
        display: flex;
        height: 56px;
        justify-content: space-between;
        padding: 0 24px 0 12px;
        align-items: center;
        border: 1px dashed #0552B5;
        border-radius: 12px;
        margin-bottom: 8px;


        & > :first-child {
          display: flex;
          align-items: center;
          gap: 5px;

          & > svg {
            min-width: 20px;
          }
        }

        & > svg {
          min-width: 20px;
        }

       
      }

      &__doc-filled {
        border: 1px solid #B5B5B5;
        box-flex-group: #F9F9F9;
      }

      &__doc-first {
        justify-content: center !important;
        gap: 24px !important;
}
    }
  }

  &__mugshot {
    padding: 0 24px;
    &__title {
      @extend %title-24;
      font-weight: 500;
      color: #526477;
      margin-bottom: 8px;
      text-transform: uppercase
    }
    &__subtitle {
      @extend %title-14;
      font-weight: 400;
      color: #667085;
      margin-bottom: 15px;
    }
  }
  &__mugshots {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 14px;
    overflow-x: auto;
    // padding: 0 24px;

    &::-webkit-scrollbar {
      display: none;
    }


    &__upload{
      min-width: 349px;
      height: 273px;
      border-radius: 13.152px;
      background: #F0FFF1;
      padding: 10px;

      & > label {
        height: 100%;
      }

      &__inner {
        width: 100%;
        height: 100%;
        border-radius: 13.152px;
border: 0.877px dashed #438547;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
cursor: pointer;

&__title {
  @extend %title-14;
  font-weight: 700;
  color: #009B07;
  margin-bottom: 4px;
}

&__subtitle {
  @extend %title-10;
  color: rgba(102, 112, 133, 0.50);
}
      }
    }
  }

  &__button-group {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 24px;

    & > button {
        @extend %create-button;

    }

    & > :first-child {
        max-width: 95px;
        background: #D2D2D2;
        color: #092C4C;

  }
    & > :last-child {
        max-width: 80px;
// background: rgba(0, 223, 10, 0.17);
        color: #FFF;

    }
  }

  &__modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;


    &__success {
        width: 100%;
        max-width: 540px;
        min-height: 387px;
        border-radius: 12px;
        padding: 40px 65px;
        background: #FFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;

       
        &__title {
            @extend %title-20;
            font-weight: 700;
            color: #000;
        }

        &__subtitle {
          @extend %title-16;
          font-weight: 400;
          color: #526477;
      }

        
& > button {
@extend %create-button;
max-width: 410px;
}
        
    }
}
}
