.auth {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding: 33px 0;
  &__header {
    display: flex;
    align-items: center;
    gap: 19px;
    margin-bottom: 116.91px;

    &__inner {
      height: fit-content;
      &__title {
        @extend %title-16;
        margin-bottom: 4.81px;
      }

      &__subtitle {
        @extend %title-10;
      }
    }
  }

  &__title {
    @extend %title-32;
    text-align: center;
    color: #006d05;
    font-weight: 600;
    max-width: 40ch;
    width: 100%;
    margin: auto;
    margin-bottom: 125px;
  }

  &__form {
    max-width: 360px;
    width: 100%;
    margin: auto;

    &__title {
      @extend %title-30;
      color: #101828;
    }

    &__subtitle {
      @extend %title-24;
      font-style: normal;
      margin-top: 1rem;
      margin-bottom: 1.2rem;
    }

    &__error {
        color: #E0003E;
font-size: 14px;
font-weight: 600;
margin: 32px 0 4px 0;
    }

    &__label {
      margin-bottom: 6px;
      margin-top: 20px;
    }

    &__input {
      @extend %normal-input;
    }

    &__caution {
      color: #667085;
      font-size: 14px;
      font-weight: 400;
      margin-top: 6px;
      margin-bottom: 24px;
    }

    &__button {
        @extend %primary-button;
    }

    &__request {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 14px;
        font-weight: 500;
        color: #009B07;
        margin-top: 24px;
    }
  }

  &__unauth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > svg {
      margin-bottom: 56px;
    }

    &__title {
      @extend %title-36;
      margin-bottom: 10px;
    }

    &__subtitle {
      @extend %title-24;
      font-weight: 600;
      color: #949494;
    }
  }
  &__auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > svg {
      margin-bottom: 32px;
    }

    &__title {
      @extend %title-36;
    }
  }

  &__modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;


    &__inner {
        width: fit-content;
        min-height: 393px;
        border-radius: 12px;
        padding: 40px 65px;
        background: #FFF;
        display: flex;
        flex-direction: column;
        justify-content: center;


        &__title {
          color: #009B07;
@extend %title-32;
font-weight: 550;
margin-bottom: 8px;
        }

        &__subtitle {
          color: var(--Secondary, #667085);
@extend %title-14;
font-weight: 400;
margin-bottom: 40px;
        }

        &__otp-group {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
          align-items: center;
          gap: 26px;
          margin-bottom: 42px;
  
          & > input {
            width: 75px;
            height: 62px;

            border-radius: 10px;
border: 1px solid var(--Linear, #206DB0);
background: var(--Gray-Text-box, #F5F5F5);

           
            text-align: center;
  
            
            color: var(--Gray-Active-text-colour, #161616);
font-size: 24px;
font-weight: 600;

          }
  
          &__active {
            border: 2px solid #028c4b !important;
            outline: none;
          }
        }

        &__input {
          @extend %case-input;
          margin-top: 10px;
          margin-bottom: 30px;
        }
  
        &__request {
          text-align: center;
@extend %title-14;
font-weight: 400;
text-decoration-line: underline;
color: #126FB5;
margin-bottom: 50px;
        }

        

       
       

        
& > button {
@extend %create-button;
max-width: 100%;
}
        
    }
}
}
