.dashboard-header {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eaeef4;
    border-left: 1px solid #eaeef4;
    border-right: 1px solid #eaeef4;
    padding-right: 25px;
    background: #f7fbfe;

    &__logo {
      display: flex;
      align-items: center;
      gap: 10.31px;
      position: relative;
      &__img {
        width: 90px;
        height: 90px;
        border-right: 1px solid #eaeef4;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__title-group {
        &__title {
          @extend %title-16;
          margin-bottom: 5px;
        }
        &__subtitle {
          @extend %title-8;
        }
      }
    }

    &__mobile-menu {
      display: none;
    }

    &__board {
      width: 360px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      border-radius: 70px;
      border: 1px solid #eaeef4;
      background: #fff;

      & > h2 {
        @extend %title-14;
        color: #092c4c;
        font-weight: 500;

        & > span {
          font-weight: 600;
        }
      }
    }

    &__account {
      display: flex;
      align-items: center;
      gap: 20px;

      position: relative;
      &__button {
        min-width: 130px;
        @extend %create-button;
        justify-content: center;
        // padding: 0 16px;
        white-space: nowrap;
      }

      &__notifications {
        width: 50px;
        height: 50px;
        border-radius: 8px;
        background: #e4e4e499;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__search {
        height: 50px;
        min-width: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--Grey-Grey-30, #eaeef4);
      }

      &__img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
      }
    }


    @media (max-width: 768px) {
      // display: none;
      // width: 100vw;
      height: 70px;
      padding-right: 0;

      &__mobile-menu {
        display: block;
        position: absolute;
  
        .hamburger-menu {
          border: none;
          background-color: transparent;
        }
      }
  
      &__logo {
      
        
        &__img {
          border-right: none;
        }

          .small-img {
            width: 33.0445px;
            height: 33.0445px;
            margin-left: 25px;
          }
      
        
  
        &__title-group {
          &__title {
            font-size: 16px;
            font-weight: 600;
            color: #000;
          }
  
          &__subtitle {
            display: none;
          }
        }
      }
  
      &__board {
        display: none;
      }
  
      &__account {
        &__button {
          // display: none;
          display: flex;
          // align-items: center;
          flex-direction: column;
          min-width: 50px;
          min-height: 30px;
          // padding: 5px 8px;
          background-color: #009b07;
          border-radius: 8px;
  
          font-size: 10px;
  
          svg {
            width: 15px;
            height: 15px;
          }
        }
  
        .pointer {
          margin-left: 15px;
          width: 35px;
          height: 35px;
        }

        &__notifications,
        &__search {
          display: none;
        }
      }
    }

  }








// .dashboard-header {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 10px 20px;

//   &__logo {
//     display: flex;
//     align-items: center;

//     &__img {
//       margin-right: 10px;
//     }

//     &__title-group {
//       display: flex;
//       flex-direction: column;

//       &__title {
//         font-size: 18px;
//       }

//       &__subtitle {
//         font-size: 12px;
//       }
//     }
//   }

//   &__mobile-menu {
//     display: none;
//   }

//   &__board {
//     display: flex;
//     align-items: center;

//     h2 {
//       margin-left: 10px;
//     }
//   }

//   &__account {
//     display: flex;
//     align-items: center;

//     &__button {
//       background: none;
//       border: none;
//       color: white;
//       display: flex;
//       align-items: center;
//       font-size: 16px;
//       cursor: pointer;

//       svg {
//         margin-left: 5px;
//       }
//     }

//     &__search {
//       margin-left: 15px;
//     }

//     &__notifications {
//       margin-left: 15px;
//       width: 45px;
//       height: 45px;
//       border-radius: 8px;
//       background: #e4e4e499;
//       display: flex;
//       align-items: center;
//       justify-content: center;

//       svg {
//         width: 18px;
//         height: 18px;
//       }
//     }
//   }

//   @media (max-width: 768px) {
//     &__mobile-menu {
//       display: block;

//       .hamburger-menu {
//         border: none;
//         background-color: transparent;
//         margin-right: 5px;
//       }
//     }

//     &__logo {
//       .small-img {
//         width: 33.0445px;
//         height: 33.0445px;
//       }

//       &__title-group {
//         &__title {
//           font-size: 16px;
//           font-weight: 600;
//           color: #000;
//         }

//         &__subtitle {
//           display: none;
//         }
//       }
//     }
//     // ,
//     // &__account

//     &__board {
//       display: none;
//     }

//     &__account {
//       &__button {
//         display: flex;
//         align-items: center;
//         // width: 100px;
//         padding: 5px 8px;
//         background-color: #009b07;
//         border-radius: 8px;

//         font-size: 10px;

//         svg {
//           width: 15px;
//           height: 15px;
//         }
//       }

//       .pointer {
//         margin-left: 15px;
//         width: 35px;
//         height: 35px;
//       }
//     }
//   }
// }
