.departments {
  width: 100%;
  border-radius: var(--8, 8px);
  border: 1px solid var(--Gray-200, #eaecf0);
  background: var(--Color, #fff);
  box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.1),
    0px 1px 2px 0px rgba(16, 24, 40, 0.06);

  &__header {
    width: 100%;
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;

    &__title {
      color: var(--Gray-900, #101828);

      @extend %title-18;
      font-weight: 500;
    }

    &__button {
      @extend %create-button;
      border-radius: 8px;
    }
  }

  &__actions {
    width: 100%;
    height: 97px;
    border-radius: var(--4, 4px);
    border: 1px solid #eaeaea;
    box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.04);
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    &__input {
      width: 100%;
      max-width: 418px;
      height: 49px;
      border-radius: var(--4, 4px);
      border: 1px solid #f6f6f6;
      background: #fafafa;
      display: flex;
      align-items: center;
      gap: 16px;
      padding: 0 14px;

      & > input,
      select {
        @extend %title-14;
        font-weight: 400;

        width: 100%;
        height: 100%;
        outline: none;
        border: none;
        background: none;
        padding: 14px;

        &::placeholder {
          color: #637381;
        }
      }
    }

    &__filters {
      @extend %title-14;
      display: flex;
      align-items: center;
      gap: 8px;
      color: var(--Style, #033132);
      font-weight: 600;
      padding: 0 12px;
    }

    &__button {
      @extend %primary-button;
      width: 75px;
      height: 49px;
      font-size: 14px;
      font-weight: 500;
      margin: 0;
    }
  }

  &__heading {
    width: 100%;
    height: 44px;
    border-bottom: 1px solid var(--Gray-200, #eaecf0);
    background: var(--Gray-50, #f9fafb);
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr 0.5fr;
    padding: 0 24px;

    & > div {
      @extend %title-12;
      width: 100%;
      color: var(--Gray-500, #667085);
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 4px;
      white-space: nowrap;
      margin-bottom: 0;
    }
  }
  &__body {
    height: 400px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
    &__inner {
      width: 100%;
      height: 72px;
      border-bottom: 1px solid var(--Gray-200, #eaecf0);
      background: var(--Gray-50, #fff);
      display: grid;
      grid-template-columns: 0.5fr 1fr 1fr 0.5fr 0.5fr;
      padding: 0 24px;

      & > div {
        @extend %title-14;
        width: 100%;
        color: var(--Gray-500, #667085);
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 4px;
        white-space: nowrap;
      }

      & > :first-child {
        color: #101828;
        display: flex;
        align-items: center;
        gap: 12px;
      }
    }
  }

  &__footer {
    // position: absolute;
    // bottom: 0;
    // left: 0;
    @extend %title-16;
    font-weight: 500;
    width: 100%;
    height: 59px;
    color: #667085;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    background: var(--Gray-50, #f9fafb);
    border: 1px solid var(--Gray-200, #eaecf0);
    border-radius: 0 0 12px 12px;

    &__nav {
      width: fit-content;
      height: 36px;
      padding: 0 14px;
      @extend %title-14;
      display: flex;
      align-items: center;
      gap: 8px;
      color: var(--Gray-700, #344054);
      border-radius: 8px;
      border: 1px solid var(--Gray-300, #d0d5dd);
      background: var(--White, #fff);
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    }

    &__pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 62px;
      @extend %title-16;
      font-weight: 400;
      color: #9fa2b4;

      &__rows {
        & > select {
          width: fit-content;
          color: #4b506d;
          border: none;
          outline: none;
        }
      }

      &__pages {
        display: flex;
        align-items: center;
        gap: 24px;

        & > :last-child {
          display: flex;
          gap: 12px;
        }
      }
    }
  }

  &__details {
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    max-width: 1272px;
    height: 100%;
    background: #FFF;
    overflow-y: auto;
    padding-bottom: 80px;
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 45px;
      height: 80px;
      border-bottom: 1px solid #eaeef4;
      margin-bottom: 56.5px;

      & > :first-child {
        @extend %title-18;
        display: flex;
        align-items: center;
        gap: 24px;
        color: var(--Primary-Black, #061b2e);
        font-weight: 700;
      }

      & > :last-child {
        display: flex;
        gap: 8px;
      }
    }

    &__body {
      padding: 0 32px;

      &__dept-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 32px;

        &__info {
          &__title {
            @extend %title-14;
            color: var(--Grey-Grey-75, #7e92a2);
            font-weight: 400;
            margin-bottom: 16px;
          }

          &__group {
            display: flex;
            align-items: start;
            gap: 8px;

            & > :nth-child(even) {
              & > :first-child {
                @extend %title-24;
                color: var(--Gray-900, #101828);
                font-weight: 500;
                margin-bottom: 8px;
              }

              & > :last-child {
                @extend %title-16;
                color: var(--Gray-500, #667085);
                font-weight: 400;
              }
            }

            & > :last-child {
              @extend %title-16;
              color: var(--Gray-500, #667085);

              font-weight: 400;
            }
          }
        }

        &__button {
          @extend %title-14;
          width: 112px;
          height: 36px;
          border-radius: 8px;
          background: rgba(0, 155, 7, 0.27);
          color: #009b07;
          text-align: center;

          border: none;
          outline: none;
        }
      }

      &__stats {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        height: 127px;
        border-radius: 8px;
        background: #f4f9fd;
        padding: 0 33px;
        margin-bottom: 32px;

        & > :first-child {
          & > :last-child {
            font-weight: 400;
          }
        }

        & > div {
          & > :first-child {
            color: var(--Grey-Grey-75, #7e92a2);
            @extend %title-16;
            font-weight: 400;
            margin-bottom: 8px;
          }

          & > :last-child {
            color: var(--Primary-Black, #061b2e);
            @extend %title-16;
            font-weight: 600;
          }
        }
      }

      &__members {
        &__title {
          color: var(--Gray-900, #101828);
          @extend %title-18;
          font-weight: 500;
          margin-bottom: 16px;
        }

        &__table {
          background: green;
          border-radius: var(--4, 4px);
border: 1px solid #EAEAEA;
background: var(--Color, #FFF);
box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.04);
          padding-top: 27px;

          &__title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
            padding: 0 22px;


            & > :first-child {
              color: var(--Gray-900, #101828);
              @extend %title-18;
              font-weight: 500;
            }
            & > :last-child {
              @extend %create-button;
              max-width: 239px;
              border-radius: 8px;
            }
          }

          &__cards {
            display: flex;
            gap: 16px;
            overflow-x: auto;
            padding: 18px 22px;
            border-bottom: 1px solid #EAEAEA;
border-radius: 4px;


            &::-webkit-scrollbar {
              display: none;
            }

            &__card {
              border-radius: 17px;
              border: 1px solid #cddae4;
              background: var(--Color, #fff);
              min-width: 507px;
              height: 155px;
              padding: 29px 22px 25px 22px;

              &__title {
                color: #292d32;
                @extend %title-24;
                font-weight: 600;
                margin-bottom: 23px;
              }

              &__info {
                display: flex;
                align-items: start;
                justify-content: space-between;

                & > :first-child {
                  & > :first-child {
                    color: var(--Grey-Grey-75, #7e92a2);
                    @extend %title-14;
                    font-weight: 400;
                    margin-bottom: 8px;
                  }

                  & > :last-child {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    @extend %title-16;
                    color: var(--Gray-500, #667085);

                    font-weight: 400;

                    & > :nth-child(even) {
                      color: var(--Gray-900, #101828);
                      font-weight: 500;
                    }
                  }
                }

                & >:last-child {
                  & > :first-child {
                    color: var(--Grey-Grey-75, #7e92a2);
                    @extend %title-14;
                    font-weight: 400;
                    margin-bottom: 8px;
                  }

                  & >:last-child {
                    @extend %title-16;
                    font-style: normal;
font-weight: 600;
text-align: end;
                  }
                }
              }
            }
          }

          &__parameters {
            border-radius: var(--4, 4px);
border: 1px solid #EAEAEA;
background: var(--Color, #FFF);
box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.04);
width: 100%;
height: 97px;
display: flex;
align-items: center;
gap: 16px;
padding: 0 22px;

&__input {
  width: 100%;
  max-width: 222.75px;
  height: 49px;
  border-radius: var(--4, 4px);
  border: 1px solid #f6f6f6;
  background: #fafafa;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0 14px;

  & > input,
  select {
    @extend %title-14;
    font-weight: 400;

    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: none;
    // padding: 14px;

    &::placeholder {
      color: #637381;
    }
  }
}

&__filters {
  @extend %title-14;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--Style, #033132);
  font-weight: 600;
  padding: 0 12px;
}

&__button {
  @extend %primary-button;
  width: 75px;
  height: 49px;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}
          }


          &__heading {
            width: 100%;
            height: 44px;
            border-bottom: 1px solid var(--Gray-200, #eaecf0);
            background: var(--Gray-50, #f9fafb);
            display: grid;
            grid-template-columns: 2.4fr 1fr 1fr 2.4fr;

            & >:first-child {
              gap: 12px;
            }
        
            & > div {
              @extend %title-12;
              width: 100%;
              color: var(--Gray-500, #667085);
              font-weight: 500;
              display: flex;
              align-items: center;
              gap: 4px;
              white-space: nowrap;
              margin-bottom: 0;
              padding: 0 15.5px;
            }

            &__center {
              justify-content: center;
            }

            & >:last-child {
              // background: yellow;
            }
          }
          &__body {
            height: 400px;
            overflow-y: auto;
        
            &::-webkit-scrollbar {
              display: none;
            }
            &__inner {
              position: relative;
              width: 100%;
              height: 72px;
              border-bottom: 1px solid var(--Gray-200, #eaecf0);
              background: var(--Gray-50, #fff);
              display: grid;
              grid-template-columns: 2.4fr 1fr 1fr 2.4fr;

        
              & > div {
                @extend %title-14;
                width: 100%;
                color: var(--Gray-500, #667085);
                font-weight: 500;
                display: flex;
                align-items: center;
                gap: 4px;
                white-space: nowrap;
                padding: 0 15.5px;
              }
        
              & > :first-child {
                color: #101828;
                display: flex;
                align-items: center;
                gap: 12px;

                & >:last-child {
                & >:last-child {
                  color: var(--Gray-500, #667085);
                  font-weight: 400;
                  margin-top: 4px;
                }
                  
                }
              }

              &__center {
                justify-content: center;
              }

              &__title {
                padding: 0 28px !important;
              }

              &__actions {
                position: absolute;
                width: fit-content !important;
                display: flex;
                align-items: center;
                gap: 4px;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                padding: 16px !important;
              }
            }
          }
        
          &__footer {
            // position: absolute;
            // bottom: 0;
            // left: 0;
            @extend %title-16;
            font-weight: 500;
            width: 100%;
            height: 59px;
            color: #667085;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 24px;
            background: var(--Gray-50, #f9fafb);
            border: 1px solid var(--Gray-200, #eaecf0);
            border-radius: 0 0 12px 12px;
        
            &__nav {
              width: fit-content;
              height: 36px;
              padding: 0 14px;
              @extend %title-14;
              display: flex;
              align-items: center;
              gap: 8px;
              color: var(--Gray-700, #344054);
              border-radius: 8px;
              border: 1px solid var(--Gray-300, #d0d5dd);
              background: var(--White, #fff);
              box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
            }
        
            &__pagination {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              gap: 62px;
              @extend %title-16;
              font-weight: 400;
              color: #9fa2b4;
        
              &__rows {
                & > select {
                  width: fit-content;
                  color: #4b506d;
                  border: none;
                  outline: none;
                }
              }
        
              &__pages {
                display: flex;
                align-items: center;
                gap: 24px;
        
                & > :last-child {
                  display: flex;
                  gap: 12px;
                }
              }
            }
          }
          

        }
      }
    }
  }
}
