.overview {
  &__title {
    display: flex;
    align-items: center;
    gap: 22px;
    margin-bottom: 21px;

    &__main-title {
      @extend %title-36;
      font-weight: 500;
      color: rgba(0, 0, 0, 1);
    }

    &__sub-title {
      @extend %title-14;
      font-weight: 400;
      color: rgba(0, 0, 0, 1);
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }
  &__tabs {
    display: flex;
    gap: 22px;
    width: 100%;
    max-width: 1115px;
    height: 38px;
    margin: 26px auto 36px auto;
    background: rgba(242, 242, 242, 1);
    padding: 3px;
    border-radius: 5px;

    &__item {
      @extend %title-16;
      font-weight: 400;
      color: rgba(173, 173, 173, 1);
      min-width: 215.4px;
      height: 100%;
      display: flex;
      align-items: start;
      gap: 10px;
      cursor: pointer;
      white-space: nowrap;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__active {
      @extend %title-14;
      background: rgba(255, 255, 255, 1);
      color: rgba(3, 40, 5, 1);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.11);
      font-weight: 500;
    }
  }

  &__cards {
    display: flex;
    align-items: end;
    gap: 16px;
    overflow-x: auto;
    margin-bottom: 32px;

    &::-webkit-scrollbar {
      display: none;
    }

    &__overview {
      min-width: 308px;
      max-width: 308px;
      height: 126px;
      border-radius: 8px;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 12px 50px 0px rgba(0, 0, 0, 0.04);
      display: flex;
      flex-direction: column;
      justify-content: end;
      padding: 10px 18px;

      &__title {
        @extend %title-12;
        font-weight: 400;
        color: rgba(169, 169, 169, 1);
        margin-bottom: 4px;
      }
      &__subtitle {
        font-size: 11px;
        font-weight: 400;
        color: rgba(0, 0, 0, 1);
      }

      &__title-group {
        display: flex;
        align-items: end;
        justify-content: space-between;
        margin-top: 13px;
      }
    }
    &__balance {
      position: relative;
      padding: 21px 19px;
      background: rgba(255, 255, 255, 1);
      border-radius: 16px;
      height: 136px;
      min-width: 314px;
      max-width: 314px;
      box-shadow: 0px 12px 50px 0px rgba(0, 0, 0, 0.04);
      border: 1px solid rgba(137, 118, 255, 1);

      &__title {
        @extend %title-14;
        font-weight: 400;
        color: rgba(30, 32, 41, 1);
        display: flex;
        align-items: center;
        gap: 6px;
        margin-bottom: 10px;
      }

      &__stats-green {
        color: rgba(0, 155, 7, 1) !important;
        margin-bottom: 8px;

        & > span {
          @extend %title-14;
          font-weight: 300 !important;
          color: rgba(0, 155, 7, 1) !important;
        }
      }

      &__subtitle {
        @extend %title-12;
        font-weight: 500;
        color: rgba(141, 141, 141, 1);
      }

      &__dropdown {
        @extend %title-10;
        font-weight: 400;
        color: rgba(0, 0, 0, 1);
        display: flex;
        align-items: center;
        gap: 4px;
      }

      &__stats {
        @extend %title-24;
        font-weight: 700;
        color: rgba(30, 32, 41, 1);
      }

      &__trend {
        @extend %title-14;
        font-weight: 400;
        display: flex;
        align-items: center;
        gap: 7.57px;
        margin-top: 23px;
      }

      &__svg {
        position: absolute;
        top: 43px;
        left: 0;
      }
    }

    &__quick {
      position: relative;
      padding: 21px 19px;
      background: rgba(255, 255, 255, 1);
      border-radius: 16px;
      height: 136px;
      min-width: 314px;
      max-width: 314px;
      box-shadow: 0px 12px 50px 0px rgba(0, 0, 0, 0.04);

      &__title {
        @extend %title-14;
        font-weight: 500;
        color: rgba(16, 24, 40, 1);
        margin-bottom: 12px;
      }

      &__group {
        display: flex;
        align-items: center;
        gap: 16px;

        & > div {
          @extend %title-12;
          font-weight: 400;
          display: flex;
          align-items: center;
          flex-direction: column;
          gap: 8px;
          cursor: pointer;
        }
      }

      &__balance {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 13px;

        & > :first-child {
          @extend %title-14;
          font-weight: 400;
          color: rgba(121, 139, 163, 1);
          display: flex;
          align-items: center;
          gap: 6.9px;
        }

        & > select {
          width: fit-content;
          @extend %title-14;
          font-weight: 400;
          color: rgba(121, 139, 163, 1);
          border: none;
        }
      }

      &__form {
        width: 100%;
        display: flex;
        gap: 8px;

        &__input {
          border: 1.13px solid rgba(129, 156, 253, 1);
          width: 100%;
          height: 55px;
          border-radius: 8px;
          padding: 12px 10px;
          display: flex;
          align-items: center;
          gap: 5px;

          &__amount {
            @extend %title-10;
            font-weight: 400;
            color: rgba(168, 177, 191, 1);
            white-space: nowrap;
          }

          & > input {
            width: 100%;
            height: 100%;
            border: none;
          }
        }

        & > button {
          width: fit-content;
          height: fit-content;
          background: none;
          border: none;
          // border-radius: 50%;
        }
      }
    }
  }

  &__table-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    & > :first-child {
      @extend %title-20;
      font-weight: 500;
      color: rgba(0, 0, 0, 1);

      & > span {
        @extend %title-14;
        font-weight: 400;
        color: rgba(153, 162, 187, 1);
      }
    }

    &__svg-group {
      display: flex;
      align-items: center;
      gap: 14px;
    }
  }

  &__filters {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 10px;

    @media (max-width: $phone) {
      display: none;
    }

    &__filter {
      @extend %title-14;
      font-weight: 400;
      color: rgba(99, 115, 129, 1);
      width: 72px;
      height: 33px;
      border-radius: 4px;
      border: 1px solid rgba(99, 115, 129, 1);
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &__date {
      @extend %title-14;
      font-weight: 400;
      color: rgba(99, 115, 129, 1);
      display: flex;
      align-items: center;
      gap: 6px;

      & > input {
        width: 113px;
        height: 30px;
        border: 1px solid rgba(219, 219, 219, 1);
        padding: 0 8px;
        border-radius: 4px;
      }
    }

    &__apply {
      @extend %primary-button;
      margin: 0;
      width: 136px;
      height: 33px;
    }
  }

  &__transactions-table {
    overflow-x: auto;
    box-shadow: 0px 12px 50px 0px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    background: rgba(249, 250, 251, 1);
  }

  &__transactions-header {
    @extend %title-12;
    color: #374151;
    display: grid;
    grid-template-columns: 14px 4fr 3fr 3fr 3fr 5.5fr 1fr;
    align-items: center;
    gap: 12px;
    height: 36px;
    text-transform: uppercase;
    border-top: 1px solid #e4e6e8;
    box-shadow: 0px -1px 0px 0px #e4e6e8 inset;
    padding: 0 17px;
    border-bottom: 1px solid rgba(234, 236, 240, 1);

    @media (max-width: $phone) {
      width: 1000px;
    }

    & > input {
      width: 14px;
      height: 14px;
    }
  }
  &__transactions-body {
    @extend %title-14;
    color: #374151;
    display: grid;
    grid-template-columns: 14px 4fr 3fr 3fr 3fr 5.5fr 1fr;
    align-items: center;
    gap: 10px;
    height: fit-content;
    border-bottom: 1px solid #e4e6e8;
    box-shadow: 0px -1px 0px 0px #e4e6e8 inset;
    padding: 0 17px;

    @media (max-width: $phone) {
      width: 1000px;
    }

    & > div {
      border-right: 2px solid rgba(234, 236, 240, 1);
      padding: 17px 0;
    }

    & > input {
      width: 14px;
      height: 14px;
    }

    &__status {
      @extend %title-12;
      width: fit-content;
      white-space: nowrap;
      display: flex;
      align-items: center;
      gap: 6px;
      font-weight: 500;
      border-radius: 4px;
      padding: 4px 13px 4px 7px;
    }
    &__succeeded {
      color: #165e3d;
      background: #edffea;
    }
    &__pending {
      color: #b5850b;
      background: #fff6e9;
    }
    &__declined {
      color: #b83131;
      background: #ffeaea;
    }
    &__create {
      color: #3d42ad;
      background: #eaecff;
    }

    &__amount {
      @extend %title-14;
      font-weight: 700;
      color: #4b5563;

      & > span {
        font-weight: 400;
        color: #959ba4;
      }
    }
    &__amount-plus {
      color: #009b07;

      & > span {
        color: #009b07;
      }
    }
    &__amount-minus {
      color: #ba0000;
    }

    &__method {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &__download {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: none !important;
    }
  }

  &__transactions-footer {
    @extend %title-16;
    font-weight: 400;
    color: rgba(0, 155, 7, 1);
    text-decoration: underline;
    width: 100%;
    text-align: center;
    margin-top: 32px;
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    padding: 0 16px;
    background: #fbfbfb;
    margin-top: 156px;

    & > :first-child {
      font-size: 14px;
      color: #4b5563;
      font-weight: 700;
    }

    & > :last-child {
      display: flex;
      align-items: center;
      gap: 16px;

      & > button {
        @extend %title-14;
        padding: 8px;
        border-radius: 8px;
        border: 1px solid #f0f2f4;
        background: #fff;

        color: #4b5563;
      }
    }
  }

  &__account-modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #00000041;
    top: 0;
    left: 0;
    display: flex;
    justify-content: end;

    &__inner {
      width: 100%;
      max-width: 1173px;
      height: 100vh;
      background: #fff;
      overflow-y: auto;

      &__header {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 24px;
        border-bottom: 1px solid rgba(234, 238, 244, 1);
        margin-bottom: 32px;

        &__title {
          @extend %title-18;
          font-weight: 500;
          display: flex;
          align-items: center;
          gap: 24px;
        }

        &__close {
          display: flex;
          align-items: center;
          gap: 8px;
        }
      }

      &__tabs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 37px;
        padding: 0 54px;

        &__tab {
          width: 100%;
          max-width: 674px;
          height: 38px;
          display: flex;
          align-items: center;
          padding: 3px;
          background: rgba(242, 242, 242, 1);

          & > div {
            @extend %title-16;
            font-weight: 400;
            color: rgba(173, 173, 173, 1);
            width: 50%;
            height: 100%;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          }

          &__active {
            font-weight: 500 !important;
            color: rgba(3, 40, 5, 1) !important;
            background: rgba(255, 255, 255, 1);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.11);
          }
        }

        &__button-group {
          display: flex;
          align-items: center;
          gap: 16px;

          & > :first-child {
            @extend %create-button;
            max-width: 157px;
            width: 157px;
            height: 48px;
            background: #eee;
            color: rgba(102, 112, 133, 1);
          }
          & > :last-child {
            @extend %create-button;
            max-width: 157px;
            width: 157px;
            height: 48px;
            color: #ffffff;
          }
        }
      }

      &__divider {
        width: 100%;
        height: 1px;
        background: #cbcbcb;
      }

      &__form {
        width: 100%;
        display: grid;
        grid-template-columns: 246px auto;
        gap: 25px;
        align-items: start;
        padding: 26px;

        &__image {
          &__upload-image {
            width: 100%;
            height: 210px;
            border-radius: var(--12, 12px);
            border: 1px dashed #000;
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            cursor: pointer;
          }

          &__upload-image-info {
            padding: 10px;
            border-radius: 8px;
            margin-bottom: 16px;
            background: #ddebde;
            display: flex;
            align-items: center;
            gap: 8px;

            &__sidebar {
              width: 5px;
              height: 40px;
              border-radius: 2px;
              background: #009b07;
            }
            & > :last-child {
              @extend %title-10;
              color: var(--Gray-700, #334155);
              font-weight: 400;
              line-height: 120%;
            }
          }
        }

        &__group {
          &__title {
            @extend %title-24;
            font-weight: 500;
            color: #000000;
            margin-bottom: 32px;
          }

          &__divider {
            width: 100%;
            height: 1px;
            background: #cacaca;
            margin-bottom: 32px;
          }

          &__input-grid {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 16px;
            margin-bottom: 32px;

            & > div {
              width: 100%;
              & > input,
              & > select {
                @extend %normal-input;
                max-width: 100%;
              }
            }
          }
        }
      }

      &__fund {
        margin-top: 60px;
        padding: 0 90px;
        margin-bottom: 100px;
        position: relative;

        &__title {
          @extend %title-32;
          font-weight: 500;
          color: #292D32;
          margin-bottom: 41px;
        }

        &__details {
width: 100%;
height: 320px;
background: #DEFFDF;
border-radius: 21px;
padding: 47px 28px;
margin-bottom: 32px;

&__title {
  @extend %title-14;
  font-weight: 400;
  color: #667085;
  margin-bottom: 8px;
}
&__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;


 & > div {
  @extend %title-24;
  font-weight: 500;
  color: #292D32;
  margin-bottom: 8px;
 }
}
        }

        &__share {
          @extend %create-button;
          max-width: 140px;
          border-radius: 60px;
          margin-bottom: 25px;
          height: 40px;
          margin-bottom: 25px;
        }

        &__card {
          border: 1px solid #009B07;
          width: 100%;
          height: 98px;
          padding: 24px 17px;
          display: flex;
          align-items: center;
          gap: 17px;
          border-radius: 16px;

          &__title {  
            & >:first-child {
              @extend %title-16;
              font-weight: 500;
              margin-bottom: 4px;
            }

            & >:last-child {
              @extend %title-12;
              font-weight: 400;
              color: #667085;
            }
          }
        }

        &__modal {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 506px;
          box-shadow: 0px 6.12px 6.12px 0px #BBB9B940 inset;
          border-radius: 30px 30px 0 0;
          padding: 21px 29px;
          background: #FFF;

          &__close {
            position: relative;
margin-bottom: 38.89px;
width: 100%;
justify-content: end;
margin-bottom: 38px;

& > svg {
  position: absolute;
  right: 0;
}
          }

          & > label {
            margin-bottom: 18px;
          }

          &__cards {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            align-items: center;
            gap: 10px;
            margin-bottom: 30px;

            & > div {
              @extend %title-18;
              font-weight: 400;
              color: #008706;
              width: 100%;
              height: 53px;
              border: 0.77px solid #008706;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 6px;

              & > span {
                font-weight: 700;
              } 

            }

            &__active {
              background: #008706 !important;
              color: #FFFFFF !important;
            }
          }

          & > input {
            width: 100%;
            height: 76px;
            border: 0.77px solid #009B07;
            border-radius: 10px;
            padding: 20px 0 20px 40px;
          }
        }
      }

      &__pay {
        padding: 40px 69px;
        &__title{
          @extend %title-32;
          font-weight: 550;
          color: #292D32;
          margin-bottom: 38px;
        }

        &__add {
          @extend %title-14;
          font-weight: 400;
          color: #667085;
          margin-bottom: 32px;
          & > svg {
            margin-bottom: 8px;
          }
        }

        &__subtitle {
          @extend %title-20;
          font-weight: 500;
          color: #292D32;
          margin-bottom: 38px;
        }

        &__card {
          width: 100%;
          height: 100px;
          border-radius: 8px;
          border: 1px solid #EAECF0;
          background: #FFFFFF;
          padding: 16px;
          display: flex;
          align-items: start;
          gap: 12px;
          margin-bottom: 12px;

          &__title {
            & >:first-child {
              @extend %title-14;
              font-weight: 500;
              color: #344054;
              margin-bottom: 2px;
            }
            & >:nth-child(even) {
              @extend %title-14;
              font-weight: 500;
              color: #667085;
              margin-bottom: 10px;
            }
            & >:last-child {
              display: flex;
              gap: 12px;
              align-items: center;
              @extend %title-14;
              font-weight: 600;
              

              & >:first-child {
                color: #667085;
              }

              & >:last-child {
                color: #009B07;
              }
            }
          }
        }

        & > button {
        @extend %create-button;
        max-width: 362px;
        height: 40px;
        margin: auto;
        margin-top: 40px;
      }
      }
    }

    &__receipt {
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__transfer-modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #00000041;
    top: 0;
    left: 0;
    display: flex;
    justify-content: end;

    &__inner {
      width: 100%;
      max-width: 710px;
      height: 100vh;
      background: #fff;
      overflow-y: auto;

      &__header {
        width: 100%;
        height: 160px;
        display: flex;
        align-items: start;
        justify-content: space-between;
        padding: 26px 24px 0 24px;
        margin-bottom: 32px;
        background: url("/assets/transfer.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &__title {
          @extend %title-18;
          font-weight: 500;
          display: flex;
          align-items: center;
          gap: 24px;
        }

        &__close {
          display: flex;
          align-items: center;
          gap: 8px;
        }
      }

      &__bar {
        padding: 0 36px 32px 36px;
        border-bottom: 1px solid #cbcbcb;
        margin-bottom: 32px;

        &__line {
          width: 100%;
          max-width: 600px;
          height: 6px;
          background: #cbcbcb;
          border-radius: 4px;
          margin-bottom: 16px;

          &__inner {
            height: 100%;
            border-radius: 4px 0 0 4px;
            background: #009b07;
          }
        }

        &__title {
          display: flex;
          align-items: center;
          justify-content: space-between;

          & > div {
            @extend %title-14;
            font-weight: 400;
            color: #6a6a6a;
          }

          &__active {
            font-weight: 700 !important;
            color: #171717 !important;
          }
        }
      }

      &__title {
        @extend %title-32;
        font-weight: 500;
        color: #393939;
        width: 90%;
        margin: auto;
        margin-bottom: 32px;
      }

      &__form {
        width: 90%;
        height: 60px;
        margin: auto;
        margin-bottom: 32px;
        display: flex;
        align-items: center;
        gap: 24px;
        border: 1px solid #cccccc;
        border-radius: 50px;
        margin-bottom: 24px;
        padding: 0 26px;

        & > input {
          @extend %title-16;
          font-weight: 400;
          color: #4b5563;
          width: 100%;
          height: 100%;
          border: none;
          outline: none;
        }
      }

      &__send-outside {
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
        cursor: pointer;

        & > :first-child {
          @extend %title-16;
          font-weight: 500;
          color: #061b2e;
          display: flex;
          align-items: center;
          gap: 15.5px;
        }
      }

      &__filters {
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 40px;

        & > button {
          @extend %title-16;
          font-weight: 500;
          color: #061b2e;
          background: none;
          min-width: 67px;
          height: 46px;
          border: 1px solid #c3c3c3;
          border-radius: 24px;
          padding: 0 24px;
        }

        &__active {
          border: 1px solid #061b2e !important;
        }
      }

      &__recipient {
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 16px;
        border-bottom: 1px solid #d7d7d7;
        margin-bottom: 16px;
        cursor: pointer;

        &__title {
          display: flex;
          align-items: center;
          gap: 12px;

          & > div {
            & > :first-child {
              @extend %title-18;
              font-weight: 500;
              color: #061b2e;
              margin-bottom: 4px;
            }
            & > :last-child {
              @extend %title-12;
              font-weight: 400;
              color: #5c5f68;
            }
          }
        }
      }

      &__recipient-form {
        width: 90%;
        margin: auto;
        padding-bottom: 100px;

        & > input,
        & > select {
          @extend %normal-input;
          margin-bottom: 24px;
          max-width: 100%;
        }

        & > button {
          @extend %create-button;
          max-width: 362px;
          margin: auto;
        }
      }

      &__recipient-title {
        @extend %title-20;
        font-weight: 500;
        color: #334155;
        margin-bottom: 33px;
        text-align: center;
      }

      &__recipient-subtitle {
        @extend %title-32;
        font-weight: 500;
        color: #334155;
        margin-bottom: 24px;
        text-align: center;
      }

      &__recipient-svg {
        margin: auto;
        margin-bottom: 12px;
        width: 100%;
      }

      &__group {
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 8px;
        border-top: 1px solid var(--Grey, #eaebed);
        margin-bottom: 8px;

        & > :first-child {
          @extend %title-16;
          font-weight: 400;
          color: #989898;
        }

        & > :last-child {
          @extend %title-16;
          font-weight: 500;
          color: #161f33;
          display: flex;
          align-items: center;
          gap: 8px;
        }
      }

      &__total {
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 0;
        border-top: 1px dashed var(--Grey, #161f33);
        border-bottom: 1px dashed var(--Grey, #161f33);
        margin-bottom: 38px;

        & > :first-child {
          @extend %title-16;
          font-weight: 400;
          color: #161f33;
        }

        & > :last-child {
          @extend %title-16;
          font-weight: 700;
          color: #161f33;
        }
      }

      &__pin-title {
        @extend %title-24;
        font-weight: 400;
        color: #7e92a2;
        margin-bottom: 50px;
        text-align: center;
      }

      &__pin-otps {
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        gap: 32px;
        margin-bottom: 97px;

        &__otp {
          width: 100%;
          height: 100px;
          border-radius: 12px;
          background: #eeeeee;
          box-shadow: 0px 0px 8.29px 0px #0000000f inset;
          border: none;
        }
      }

      &__pin-button-group {
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 100px;

        & > :first-child {
          @extend %title-18;
          font-weight: 600;
          color: #ffffff;
          width: 100%;
          height: 60px;
          border-radius: 8px;
          background: linear-gradient(0deg, #cdffcf, #cdffcf),
            linear-gradient(0deg, rgba(21, 21, 21, 0.2), rgba(21, 21, 21, 0.2));
          box-shadow: 0px 1px 2px 0px #1018280d;
          border: none;
        }
        & > :last-child {
          @extend %title-18;
          font-weight: 600;
          color: #ff2c20;
          width: 100%;
          height: 60px;
          border-radius: 8px;
          border: 1px solid #ff2c20;
          box-shadow: 0px 1px 2px 0px #1018280d;
          background: #ffe1e9;
        }
      }

      &__divider {
        width: 100%;
        height: 1px;
        background: #cbcbcb;
      }

      &__transaction-pin {
        &__title {
          @extend %title-32;
          font-weight: 700;
          text-align: center;
          margin-bottom: 18px;
          color: #393939;
        }
        &__subtitle {
          @extend %title-20;
          font-weight: 400;
          text-align: center;
          margin-bottom: 68px;
          color: #838383;
        }
        &__subsubtitle {
          @extend %title-20;
          font-weight: 400;
          text-align: center;
          margin-bottom: 68px;
          color: #838383;
          margin-bottom: 34px;
        }

        &__otps {
          display: grid;
          gap: 20px;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
          padding: 0 60px;
          margin-bottom: 63px;

          &__otp {
            width: 100%;
            height: 82px;
            background: #eeeeee;
            border-radius: 10px;
            box-shadow: 0px 0px 6.87px 0px #0000000f inset;
            border: none;
          }
        }

        &__resend-otp {
          @extend %title-18;
          font-weight: 500;
          color: #000;
          margin-bottom: 33px;
          text-align: center;

          & > span {
            font-weight: 600;
            color: #009b07;
          }
        }

        & > button {
          @extend %create-button;
          max-width: 287px;
          height: 60px;
          margin: auto;
        }

        &__otps-title {
          @extend %title-16;
          font-weight: 400;
          text-align: center;
          color: #3e3e3e;
          margin-bottom: 24px;
        }

        &__otps-mini {
          display: grid;
          gap: 20px;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          padding: 0 60px;
          margin: auto;
          margin-bottom: 48px;
          width: 100%;
          max-width: 500px;

          &__otp {
            width: 100%;
            height: 82px;
            background: #eeeeee;
            border-radius: 10px;
            box-shadow: 0px 0px 6.87px 0px #0000000f inset;
            border: none;
          }
        }
      }

      &__receipt-title {
        @extend %title-32;
        font-weight: 700;
        color: #393939;
        margin: auto;
        margin-bottom: 28px;
        width: 90%;
      }

      &__receipt {
        width: 90%;
        margin: auto;
        border: 1px solid #c8c8c8;
        height: 600px;
        border-radius: 24px;
        margin-bottom: 33px;

        &__svg {
          margin: auto;
          margin-bottom: 18px;
          width: 100%;
        }

        &__amount {
          @extend %title-32;
          font-weight: 500;
          color: #ba0000;
          margin-bottom: 13px;
          width: 100%;
          text-align: center;
        }

        &__to {
          @extend %title-20;
          font-weight: 500;
          color: #b9b9b9;
          text-align: center;
          margin-bottom: 14px;
        }

        &__title {
          @extend %title-20;
          font-weight: 500;
          color: #353535;
          text-align: center;
          margin-bottom: 13px;
        }

        &__success {
          margin: auto;
          margin-bottom: 38px;
          width: 100%;
        }

        &__repeat {
          border-top: 1px solid #c8c8c8;
          margin-top: 16px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 17px 20px;

          &__title {
            display: flex;
            align-content: center;
            gap: 8px;

            & > div {
              & > :first-child {
                @extend %title-18;
                font-weight: 500;
                color: #061b2e;
                margin-bottom: 4px;
              }

              & > :last-child {
                @extend %title-14;
                font-weight: 400;
                color: #5c5f68;
              }
            }
          }
        }
      }
    }

    &__receipt {
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
