.overview {
  &__title {
    display: flex;
    align-items: center;
    gap: 22px;
    margin-bottom: 21px;

    &__main-title {
      @extend %title-36;
      font-weight: 500;
      color: rgba(0, 0, 0, 1);
    }

    &__sub-title {
      @extend %title-14;
      font-weight: 400;
      color: rgba(0, 0, 0, 1);
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }
  &__tabs {
    display: flex;
    gap: 22px;
    width: 100%;
    max-width: 1115px;
    height: 38px;
    margin: 26px auto 36px auto;
    background: rgba(242, 242, 242, 1);
    padding: 3px;
    border-radius: 5px;

  

    &__item {
      @extend %title-16;
      font-weight: 400;
      color: rgba(173, 173, 173, 1);
      min-width: 215.4px;
      height: 100%;
      display: flex;
      align-items: start;
      gap: 10px;
      cursor: pointer;
      white-space: nowrap;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__active {
      @extend %title-14;
      background: rgba(255, 255, 255, 1);
      color: rgba(3, 40, 5, 1);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.11);
      font-weight: 500;
    }
  }

  &__cards {
    display: flex;
    align-items: end;
    gap: 16px;
    overflow-x: auto;
    margin-bottom: 32px;

    &::-webkit-scrollbar {
      display: none;
    }

    &__overview {
      min-width: 308px;
      max-width: 308px;
      height: 126px;
      border-radius: 8px;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 12px 50px 0px rgba(0, 0, 0, 0.04);
      display: flex;
      flex-direction: column;
      justify-content: end;
      padding: 10px 18px;

      &__title {
        @extend %title-12;
        font-weight: 400;
        color: rgba(169, 169, 169, 1);
        margin-bottom: 4px;
      }
      &__subtitle {
        font-size: 11px;
        font-weight: 400;
        color: rgba(0, 0, 0, 1);
      }

      &__title-group {
        display: flex;
        align-items: end;
        justify-content: space-between;
        margin-top: 13px;
      }
    }
    &__balance {
      position: relative;
      padding: 21px 19px;
      background: rgba(255, 255, 255, 1);
      border-radius: 16px;
      height: 136px;
      min-width: 314px;
      max-width: 314px;
      box-shadow: 0px 12px 50px 0px rgba(0, 0, 0, 0.04);
      border: 1px solid rgba(137, 118, 255, 1);
  
      &__title {
        @extend %title-14;
        font-weight: 400;
        color: rgba(30, 32, 41, 1);
        display: flex;
        align-items: center;
        gap: 6px;
        margin-bottom: 10px;
      }

      &__stats-green {
        color: rgba(0, 155, 7, 1) !important;
        margin-bottom: 8px;


        & > span {
          @extend %title-14;
          font-weight: 300 !important;
          color: rgba(0, 155, 7, 1) !important;

        }
      }

      &__subtitle {
        @extend %title-12;
        font-weight: 500;
        color: rgba(141, 141, 141, 1);
      }
  
      &__dropdown {
        @extend %title-10;
        font-weight: 400;
        color: rgba(0, 0, 0, 1);
        display: flex;
        align-items: center;
        gap: 4px;
      }
  
      &__stats {
        @extend %title-24;
        font-weight: 700;
        color: rgba(30, 32, 41, 1);
      }
  
      &__trend {
        @extend %title-14;
        font-weight: 400;
        display: flex;
        align-items: center;
        gap: 7.57px;
        margin-top: 23px;
      }

      &__svg {
        position: absolute;
        top: 43px;
        left: 0;
      }
    }

    &__quick {
      position: relative;
      padding: 21px 19px;
      background: rgba(255, 255, 255, 1);
      border-radius: 16px;
      height: 136px;
      min-width: 314px;
      max-width: 314px;
      box-shadow: 0px 12px 50px 0px rgba(0, 0, 0, 0.04);

      &__title {
        @extend %title-14;
        font-weight: 500;
        color: rgba(16, 24, 40, 1);
        margin-bottom: 12px;
      }

      &__group {
        display: flex;
        align-items: center;
        gap: 16px;
        
        & > div {
          @extend %title-12;
          font-weight: 400;
          display: flex;
          align-items: center;
          flex-direction: column;
          gap: 8px;
        }
      }

      &__balance {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 13px;

        & >:first-child {
          @extend %title-14;
          font-weight: 400;
          color: rgba(121, 139, 163, 1);
          display: flex;
          align-items: center;
          gap: 6.9px;
        }

        & > select {
          width: fit-content;
          @extend %title-14;
          font-weight: 400;
          color: rgba(121, 139, 163, 1);
          border: none;
        }
      }

      &__form {
        width: 100%;
        display: flex;
        gap: 8px;

        &__input {
          border: 1.13px solid rgba(129, 156, 253, 1);
          width: 100%;
          height: 55px;
          border-radius: 8px;
          padding: 12px 10px;
          display: flex;
          align-items: center;
          gap: 5px;

          &__amount {
            @extend %title-10;
            font-weight: 400;
            color: rgba(168, 177, 191, 1);
            white-space: nowrap;
          }

          & > input {
            width: 100%;
            height: 100%;
            border: none;
          }
        } 

        & > button {
          width: fit-content;
          height: fit-content;
          background: none;
          border: none;
          // border-radius: 50%;
        }
      }
    }
  }

  &__table-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    & >:first-child {
      @extend %title-20;
      font-weight: 500;
      color: rgba(0, 0, 0, 1);

      & > span {
        @extend %title-14;
        font-weight: 400;
        color: rgba(153, 162, 187, 1);
      }
    }

    &__svg-group {
      display: flex;
      align-items: center;
      gap: 14px;
    }
  }

  &__filters {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 10px;

    
@media (max-width: $phone) {
  display: none;
}

&__filter {
  @extend %title-14;
  font-weight: 400;
  color: rgba(99, 115, 129, 1);
  width: 72px;
  height: 33px;
  border-radius: 4px;
  border: 1px solid rgba(99, 115, 129, 1);
  display: flex;
  align-items: center;
  gap: 8px;
}
   
&__date {
  @extend %title-14;
  font-weight: 400;
  color: rgba(99, 115, 129, 1);
  display: flex;
  align-items: center;
  gap: 6px;

  & > input {
    width: 113px;
    height: 30px;
    border: 1px solid rgba(219, 219, 219, 1);
    padding: 0 8px;
    border-radius: 4px;
  }

}

&__apply {
  @extend %primary-button;
  margin: 0;
  width: 136px;
  height: 33px;
}
  }

  &__transactions-table {
    overflow-x: auto;
    box-shadow: 0px 12px 50px 0px rgba(0, 0, 0, 0.04);
border-radius: 8px;
background: rgba(249, 250, 251, 1);

  }

  &__transactions-header {
    @extend %title-12;
    color: #374151;
    display: grid;
    grid-template-columns: 14px 4fr 3fr 3fr 3fr 5.5fr 1fr;
    align-items: center;
    gap: 12px;
    height: 36px;
    text-transform: uppercase;
    border-top: 1px solid #e4e6e8;
    box-shadow: 0px -1px 0px 0px #e4e6e8 inset;
    padding: 0 17px;
    border-bottom: 1px solid rgba(234, 236, 240, 1);

    
@media (max-width: $phone) {
  width: 1000px;
}

    & > input {
      width: 14px;
      height: 14px;
    }
  }
  &__transactions-body {
    @extend %title-14;
    color: #374151;
    display: grid;
    grid-template-columns: 14px 4fr 3fr 3fr 3fr 5.5fr 1fr;
    align-items: center;
    gap: 10px;
    height: fit-content;
    border-bottom: 1px solid #e4e6e8;
    box-shadow: 0px -1px 0px 0px #e4e6e8 inset;
    padding: 0 17px;


    
@media (max-width: $phone) {
  width: 1000px;
}

& > div {
  border-right: 2px solid rgba(234, 236, 240, 1);
  padding: 17px 0;

}

    & > input {
      width: 14px;
      height: 14px;
    }

    &__status {
      @extend %title-12;
      width: fit-content;
      white-space: nowrap;
      display: flex;
      align-items: center;
      gap: 6px;
      font-weight: 500;
      border-radius: 4px;
      padding: 4px 13px 4px 7px;
    }
    &__succeeded {
      color: #165e3d;
      background: #edffea;
    }
    &__pending {
      color: #b5850b;
      background: #fff6e9;
    }
    &__declined {
      color: #b83131;
      background: #ffeaea;
    }
    &__create {
      color: #3d42ad;
      background: #eaecff;
    }

    &__amount {
      @extend %title-14;
      font-weight: 700;
      color: #4b5563;

      & > span {
        font-weight: 400;
        color: #959ba4;
      }
    }

    &__method {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &__download {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: none !important;
    }
  }

  &__transactions-footer {
    @extend %title-16;
    font-weight: 400;
    color: rgba(0, 155, 7, 1);
    text-decoration: underline;
    width: 100%;
    text-align: center;
    margin-top: 32px;
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    padding: 0 16px;
    background: #FBFBFB;
    margin-top: 156px;

    & >:first-child {
        font-size: 14px;
        color: #4B5563;
        font-weight: 700;
    }

    & >:last-child {
        display: flex;
        align-items: center;
        gap: 16px;

      & > button {
        @extend %title-14;
        padding: 8px;
        border-radius: 8px;
        border: 1px solid #f0f2f4;
        background: #fff;
  
        color: #4b5563;
      }

    }
  }
}
